---
import SubjectList from "../components/SubjectList.astro";
import Subject from "../components/Subject.astro";
import Default from "../layouts/Default.astro";

const subjects = [
  {
    name: "John Doe",
    photo:
      "https://static.vecteezy.com/system/resources/thumbnails/003/337/584/small/default-avatar-photo-placeholder-profile-icon-vector.jpg",
    isCoder: true,
    isKiller: false,
  },
  {
    name: "Jane Doe",
    photo:
      "https://static.vecteezy.com/system/resources/thumbnails/003/337/584/small/default-avatar-photo-placeholder-profile-icon-vector.jpg",
    isCoder: false,
    isKiller: true,
  },
];
---

<Default>
  <SubjectList>
    {
      subjects.map((subject) => (
        <Subject subject={subject}>
          <button>Coder</button>
          <button>Killer</button>
        </Subject>
      ))
    }
  </SubjectList>

  <p class="answer-message correct-message">Answer was Correct!</p>
  <p class="answer-message wrong-message">Answer was Wrong!</p>
</Default>

<script>
  const buttons = document.querySelectorAll("button");
  const rightAnswers = [];
  const subjectsQueue = Array.from(
    document.querySelectorAll("li.subject")
  ).reverse();

  let currentSubject = subjectsQueue.pop();

  const displaySubject = (subject) => {
    subject.style.display = "block";
  };

  const hideSubject = (subject) => {
    subject.style.display = "none";
  };

  const hideMessages = () => {
    const messages = Array.from(
      document.getElementsByClassName(
        "answer-message"
      ) as HTMLCollectionOf<HTMLElement>
    );

    messages.forEach((message) => {
      message.style.display = "none";
    });
  };

  const displayWrongMessage = () => {
    hideMessages();

    const element = document.querySelector(".wrong-message") as HTMLElement;

    element.style.display = "block";
  };

  const displayCorrectMessage = () => {
    hideMessages();

    const element = document.querySelector(".correct-message") as HTMLElement;

    element.style.display = "block";
  };

  const select = (e) => {
    const parent = e.target.parentElement;
    const answerElement = parent.querySelector(".answer-field");
    const answer = answerElement.value;
    const selection = e.target.innerText.toLowerCase();

    if (currentSubject === undefined) return;

    const isCorrect = answer === selection;
    rightAnswers.push(isCorrect);

    if (isCorrect) displayCorrectMessage();
    else displayWrongMessage();

    setTimeout(() => {
      hideSubject(currentSubject);

      hideMessages();

      currentSubject = subjectsQueue.pop();

      if (currentSubject === undefined) return;

      displaySubject(currentSubject);
    }, 1000);
  };

  buttons.forEach((btn) => {
    btn.addEventListener("click", select);
  });

  displaySubject(currentSubject);

  hideMessages();
</script>

<style>
  .answer-message {
    display: block;
    color: white;
  }
</style>
