---
import Default from "../layouts/Default.astro";

const subjects = [
  {
    name: "John Doe",
    photo:
      "https://static.vecteezy.com/system/resources/thumbnails/003/337/584/small/default-avatar-photo-placeholder-profile-icon-vector.jpg",
    isCoder: true,
    isKiller: false,
  },
  {
    name: "Jane Doe",
    photo:
      "https://static.vecteezy.com/system/resources/thumbnails/003/337/584/small/default-avatar-photo-placeholder-profile-icon-vector.jpg",
    isCoder: false,
    isKiller: true,
  },
];

const rightAnswers = [];
---

<Default>
  <ul>
    {
      subjects.map((subject) => (
        <li>
          <p>{subject.name}</p>
          <img src={subject.photo} />

          <button>Coder</button>
          <button>Killer</button>
        </li>
      ))
    }
  </ul>
</Default>
