---
import SubjectList from "../components/SubjectList.astro";
import Subject from "../components/Subject.astro";
import Results from "../components/Results.astro";
import Default from "../layouts/Default.astro";

const subjects = [
  {
    name: "John Doe",
    photo:
      "https://static.vecteezy.com/system/resources/thumbnails/003/337/584/small/default-avatar-photo-placeholder-profile-icon-vector.jpg",
    isCoder: true,
    isKiller: false,
  },
  {
    name: "Jane Doe",
    photo:
      "https://static.vecteezy.com/system/resources/thumbnails/003/337/584/small/default-avatar-photo-placeholder-profile-icon-vector.jpg",
    isCoder: false,
    isKiller: true,
  },
];
---

<Default>
  <SubjectList>
    {
      subjects.map((subject) => (
        <Subject subject={subject}>
          <button class="p-1 px-3 border-2 border-green-300 rounded-md uppercase text-green-300">
            coder
          </button>
          <button class="p-1 px-3 border-2 border-red-300 rounded-md uppercase text-red-300">
            killer
          </button>
        </Subject>
      ))
    }
  </SubjectList>

  <Results>
    <p id="trappedKillers" slot="trappedKillers"></p>
  </Results>
</Default>

<script>
  const buttons = document.querySelectorAll("button");
  const answers: any[] = [];
  const subjectsQueue = Array.from(
    document.querySelectorAll("li.subject")
  ).reverse();

  let currentSubject = subjectsQueue.pop();

  const displaySubject = (subject: any) => {
    subject.style.display = "block";
  };

  const hideSubject = (subject: any) => {
    subject.style.display = "none";
  };

  const hideMessages = () => {
    const messages = Array.from(
      document.getElementsByClassName(
        "answer-message"
      ) as HTMLCollectionOf<HTMLElement>
    );

    messages.forEach((message) => {
      message.style.display = "none";
    });
  };

  const displayWrongMessage = () => {
    hideMessages();

    const element = document.querySelector(".wrong-message") as HTMLElement;

    element.style.display = "block";
  };

  const displayCorrectMessage = () => {
    hideMessages();

    const element = document.querySelector(".correct-message") as HTMLElement;

    element.style.display = "block";
  };

  const checkIfCorrect = (answer: String, selection: String) => {
    const correct = answer === selection;
    answers.push({ isKiller: answer === "killer", guess: correct });

    // if (correct) displayCorrectMessage();
    // else displayWrongMessage();
  };

  const rotateSubjects = (current: any, next: any) => {
    setTimeout(() => {
      hideSubject(current);

      //   hideMessages();

      if (next === undefined) return;

      displaySubject(next);
    }, 1000);

    return next;
  };

  const getResults = () => {
    let counters = {
      trappedKillers: 0,
      trappedCoders: 0,
      freeKillers: 0,
      freeCoders: 0,
    };

    answers.forEach((answer) => {
      if (answer.isKiller && answer.guess) counters.trappedKillers += 1;
      if (answer.isKiller && !answer.guess) counters.freeKillers += 1;
      if (!answer.isKiller && answer.guess) counters.trappedCoders += 1;
      if (!answer.isKiller && !answer.guess) counters.freeCoders += 1;
    });

    return counters;
  };

  const displayResults = (results) => {
    const trappedKillersParagraph = document.querySelector("#trappedKillers");

    console.log(trappedKillersParagraph);
  };

  const select = (e: any) => {
    const parent = e.target.parentElement.parentElement.parentElement;
    const answerElement = parent.querySelector(".answer-field");
    const answer = answerElement.value;
    const selection = e.target.innerText.toLowerCase();
    const nextSubject = subjectsQueue.pop();

    if (currentSubject === undefined) return;

    checkIfCorrect(answer, selection);

    currentSubject = rotateSubjects(currentSubject, nextSubject);

    let results;

    if (currentSubject === undefined) {
      results = getResults();
    }

    displayResults(results);
  };

  buttons.forEach((btn) => {
    btn.addEventListener("click", select);
  });

  displaySubject(currentSubject);

  //   hideMessages();
</script>

<style>
  .answer-message {
    display: none;
    color: white;
  }
  .buttons-group button {
    margin-right: 2rem;
  }
</style>
