---
import SubjectList from "../components/SubjectList.astro";
import Subject from "../components/Subject.astro";
import Default from "../layouts/Default.astro";

const subjects = [
  {
    name: "John Doe",
    photo:
      "https://static.vecteezy.com/system/resources/thumbnails/003/337/584/small/default-avatar-photo-placeholder-profile-icon-vector.jpg",
    isCoder: true,
    isKiller: false,
  },
  {
    name: "Jane Doe",
    photo:
      "https://static.vecteezy.com/system/resources/thumbnails/003/337/584/small/default-avatar-photo-placeholder-profile-icon-vector.jpg",
    isCoder: false,
    isKiller: true,
  },
];
---

<Default>
  <SubjectList>
    {
      subjects.map((subject) => (
        <Subject subject={subject}>
          <button>Coder</button>
          <button>Killer</button>
        </Subject>
      ))
    }
  </SubjectList>
</Default>

<script>
  const buttons = document.querySelectorAll("button");
  const rightAnswers = [];
  const subjectsQueue = Array.from(
    document.querySelectorAll("li.subject")
  ).reverse();

  let currentSubject = subjectsQueue.pop();

  const displaySubject = (subject) => {
    subject.style.display = "block";
  };

  const hideSubject = (subject) => {
    subject.style.display = "none";
  };

  const select = (e) => {
    const parent = e.target.parentElement;
    const answerElement = parent.querySelector(".answer-field");
    const answer = answerElement.value;
    const selection = e.target.innerText.toLowerCase();

    const isCorrect = answer === selection;
    rightAnswers.push(isCorrect);

    hideSubject(currentSubject);

    currentSubject = subjectsQueue.pop();

    displaySubject(currentSubject);
  };

  buttons.forEach((btn) => {
    btn.addEventListener("click", select);
  });

  displaySubject(currentSubject);
</script>
