---

---

<div id="results" class="hidden">
  <p class="text-white">Trapped killers: <slot name="trappedKillers" /></p>

  <p class="text-white">Trapped coders: <slot name="trappedCoders" /></p>

  <p class="text-white">Free killers: <slot name="freeKillers" /></p>

  <p class="text-white">Free coders: <slot name="freeCoders" /></p>
</div>
