---
const { subject } = Astro.props;

const answer = subject.isKiller ? "killer" : "coder";
---

<li class="subject w-60">
  <div
    class="bg-zinc-800 border-[1px] border-zinc-500 rounded-md overflow-hidden"
  >
    <img class="w-full" src={subject.photo} />
    <input class="answer-field" type="hidden" value={answer} />

    <div class="content p-4">
      <p class="text-stone-50 mb-4 text-center text-2xl">{subject.name}</p>

      <div class="buttons-group flex flex-row justify-center">
        <slot />
      </div>
    </div>
  </div>
</li>

<style>
  .subject {
    display: none;
  }
</style>
